<div class="row">
  <div class="col-md-8">
    <div class="media">
      <h2 class="media-heading" > User: <%= current_user.email %></h2>

      <h3 class="media-body">
        <div class="mx-auto" style="width: 300px;">
          <ul>
            To-Do List:

            <% @items.each do |item| %>
            <li><%= render item %></li>
            <% end %>
          </ul>
        </div>
      </h3>

      <div class="col-md-4">
        <%= link_to "New Item", new_item_path, class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>
