<div class="row">
  <div class="col-md-8">
    <div class="media">

      <div class="media-body">
        <h2 class="media-heading">User: <%= current_user.email %></h2>
      </div>
    </div>
  </div>
</div>
