
<div class="media todo-item">
  <div class="media-body">
    <div class="mx-auto">
      <%= link_to '', [item.user, item], method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>
      <span class='item-name pl-sm'>
        <%= item.name %>
      </span>
      <p class='text-muted pt-sm'>
        Created <%= time_ago_in_words(item.created_at) %> ago
      </p>
    </div>
  </div>
</div>
